<!-- Header -->
    <header id="header" {% if page.banner %} class="alt"{% endif %}>
        <h1><a href="{{ site.baseurl }}/">Open Network Infrastructure</a> Association</h1>
        <nav id="nav">
            <ul>
                <li><a href="https://github.com/open-network-infrastructure/articles-of-association">Articles of association</a></li>
                <li><a href="https://github.com/open-network-infrastructure/open-docs">Open docs</a></li>
                <li><a href="mailto:info@opennetworkinfrastructure.org" class="button">Contact</a></li>
            </ul>
        </nav>
    </header>
